@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1540px)
  .menu-nav>.nav-link
    padding-right: 2.0rem!important
  .menu
    margin-right: 30px
  .slider-item-block
    h2
      font-size: 70px
  .about-banner-title
    font-size: 70px
    width: 300px
  .category-block
    flex-wrap: wrap
  .column
    margin-bottom: 1.875rem
    &:last-child
      margin-bottom: 0
  .about-text:after
    display: none
  .about-text:before
    display: none
  .partners-logo
    flex-wrap: wrap
  .slider-item-block
    margin-left: 6.25rem
  .column
    &:nth-child(4)
      margin-right: 0
  .about-banner-title-block
    margin-left: 20px
@media only screen and (max-width : 1440px)
  .menu
    width: 50%
  .menu-nav>.nav-link
      padding-right: 1.5rem!important
      padding-left: 0!important
  .tel-number
    font-size: 20px
    padding-right: 2.0rem!important
  .about-text-wrapper
    padding: 6.875rem 0 6.875rem 0
@media only screen and (max-width : 1290px)
  .menu-nav>.nav-link
    padding-right: 1rem!important
    padding-left: 0!important
    font-size: 16px
  .menu
    margin-right: 0
    width: 100%

  .flex
    flex-direction: column
    justify-content: center
  .line
    width: 700px
    left: 150px
  .column
    margin-right: 2%
    width: 30%
  .column
    &:nth-child(3)
      margin-right: 0
  .partners-logo
     img
       margin-bottom: 20px
       &:last-child
         margin-bottom: 20px
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .slider-item-content
   background: url("../img/heasers.png") no-repeat center center
  .consultation
    background: url(../img/help.png) no-repeat center center
  .about-banner
   background: url("../img/about-header.png") no-repeat center center
  .galery-wrapper
    background: url("../img/parents.png") no-repeat center center
  .slider-item-block
    h2
      font-size: 40px
  .about-banner-title
    font-size: 40px
    p
      font-size: 20px
  .logo
    margin-bottom: 1.25rem
  .title-black
     font-size: 30px
     margin-bottom: 1.875rem
  .line
    height: 20px
    width: 400px
    left: 60px
    top: 20px
  .line-1
    height: 20px
    width: 100px
    top: 25px
  .line-2
    width: 200px
    top: 20px
  .line-3
    width: 400px
    top: 25px
  .title,.consultation-title
    font-size: 30px
    margin-bottom: 1.875rem
  .btn-category
    font-size: 25px
    width: 325px
    height: 60px
  .category, .partners, .consultation,.about-text-wrapper,.galery-wrapper
    padding: 1.875rem 0 1.875rem 0
  .about
    padding: 1.875rem 0 1.875rem 0
  .about-text
    font-size: 20px
    p
      margin-bottom: 1.875rem
  .btn-about,.btn-consultation
    font-size: 25px
    width: 325px
    height: 60px
  .partners-subtitle
    margin: 1.875rem 0 1.875rem 0
  .partners-logo
    padding-bottom: 1.875rem
  .consultation-subtitle
    margin-bottom: 1.875rem

  .consultation-form-input
    border: 3px solid #E1A423
    font-size: 20px
    margin-bottom: 1.875rem
    padding: 1.25rem
  .footer-title
    font-size: 20px
    text-align: center
  .slider
    .slick-prev
      left: 30px
    .slick-next
      right: 30px
  .footer-item-link
    font-size: 16px
  .category-card
    h3
     font-size: 20px
     padding: 0 1.25rem 1.25rem  1.25rem
  .footer-item
    text-align: center
    margin-bottom: 1.875rem
  .footer
    padding: 1.875rem 0 1.875rem 0
  .slider-item-block
    margin-left: 1.25rem
  .tel-block
    background-color: rgba(0, 0, 0, 0.7)
  .galery-wrapper
    padding-bottom: 1.25rem



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .column
    width: 45%
  .text-1
    text-align: start
    border-left: 10px solid $orange
  .tel
    margin-right: 1.25rem
  .tel-number
    font-size: 18px
    padding-right: 1.25rem!important
  .cart
    margin-left: 1.25rem
  .partners-logo
    img
      width: 30%
  .partners-subtitle
    font-size: 20px

/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .tel-block
    display: flex
    flex-direction: column
    width: 100%
    padding: 1.25rem
  .tel
    margin-bottom: 1.25rem
  .line
    width: 320px
    left: 0
  .line-3
    width: 320px
  .title-black,.title,.consultation-title
    font-size: 25px
  .column
    width: 100%
    margin-right: 0
  .partners-logo
    img
      width: 30%
  .btn-about,.btn-consultation,.btn-category
   font-size: 25px
   width: 300px
   height: 60px
  .slider-block
    height: auto
  .line,.line-1,.line-2,.line-3
    height: 15px
  .gamma-buttons
   float: left
   clear: both
  .about-text
    font-size: 18px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .partners-logo
    flex-direction: column
    img
      width: 50%
  .title-black,.title
     font-size: 20px
  .line,.line-3
    width: 300px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

